@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --white: #fff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  --purple: #8284fa;
  --purble-darl: #5e60ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --danger: #e25858;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
span,
a,
li {
  font-weight: 400;
  font-size: 12px;
}

.small-text {
  font-size: 12px;
}

.medium-text {
  font-size: 14px;
}

.large-text {
  font-size: 16px;
}
